@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #d9d9d9;
}

*::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 20px;
}
*,
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button.chakra-modal__close-btn {
  align-self: center;
}

@media (max-width: 600px) {
  *::-webkit-scrollbar {
    display: none;
  }
}

#searchPassengers {
  padding: 0 0.8rem 0.8rem;
  font-size: 0.8125rem;
}

.custom-pagination {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  list-style: none;
}

.custom-pagination li {
  border-radius: 0.25rem;
  background-color: #c2dcff;
  transition: all 0.2s ease-in-out;
  color: #0052bd;
}

.custom-pagination a {
  display: block;
  padding: 0.4375rem 0.9063rem;
}

.custom-pagination .next {
  background-color: transparent;
  margin-left: 1rem;
  font-weight: 500;
  color: #006fff;
}

.custom-pagination .next:hover {
  transition: all 0.02s ease-in-out;
  background-color: transparent;
  color: #0052bd;
  transform: translateX(5%);
  transition: 0.13s ease-in;
}

.custom-pagination .previous {
  display: none;
}

.custom-pagination .selected {
  color: #fff;
  background-color: #006fff;
}

.custom-pagination li:hover {
  color: #fff;
  background-color: #006fff;
}

.field-error {
  border: 1px solid #e53e3e !important;
}
.field {
  border: 1px solid #d9d9d9 !important;
}
